.home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.hero {
  width: 100%;
  height: 100%;
  // --dot-bg: var(--primary-bg);
  // --dot-color: rgba(165, 165, 165, 0.196);
  // --dot-size: 2px;
  // --dot-space: 24px;
  // background: linear-gradient(
  //       90deg,
  //       var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
  //       transparent 1%
  //     )
  //     center / var(--dot-space) var(--dot-space),
  //   linear-gradient(
  //       var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
  //       transparent 1%
  //     )
  //     center / var(--dot-space) var(--dot-space),
  //   var(--dot-color);
  position: relative;
  overflow: hidden;

  .hero-img {
    width: 100%;
    position: relative;
    bottom: 140px;
    z-index: 0;
    filter: brightness(0.7);
  }
}

.hero-sec {
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  grid: 20px;

  .sec-head {
    font-family: var(--myFont);
    font-size: 50px;
    color: var(--primary-txt);
    font-weight: 300;
  }

  .no-projects {
    z-index: 100;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .sec-txt {
    font-size: 20px;
    color: #7f7f7f;
    font-weight: 300;
    margin-top: -10px;
  }
  .btn-txt {
    font-size: 20px;
    color: var(--btn-txt);
  }
  .hero-span {
    font-family: var(--myFont);
    font-size: 50px;
    font-weight: 300;
    color: #ff5930;
    margin-left: 10px;
  }
}
